#root {
  width: 100svw;
  margin: 0;
  padding: 0;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.MuiStack-root {
  margin-top: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

a {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: orange;
}

a:hover {
  text-decoration: underline;
}

.gmail-link {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 300;
}

.MuiBox-root {
  width: 100%;
  min-width: 100%;
}
